@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

header {
  margin-bottom: 5em;
}

.title {
  font-weight: 600;
  color: #428bca;
  margin-top: 0.5em;
}

main {
  padding: 2em;
  padding-bottom: 10em;
}

ion-icon {
  margin: 0.3em;
  font-size: 1.5rem;
}

ion-icon:hover {
  cursor: pointer;
}

button {
  width: 5em;
}

.input-group {
  width: 20em;
  height: 3em;
  margin-bottom: 0.8em;
}

.form-control {
  width: 100%;
  border-radius: 4px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0.5px solid lightgray;
  -webkit-appearance: none;
  appearance: none;
}

input[type='date'] {
  min-height: 2.5rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

.second-column .input-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-column .form-control {
  padding-left: 2.5em;
}

.second-column .input-group label {
  position: absolute;
  z-index: 2;
  top: 0.25rem;
  left: 0.25em;
  z-index: 10;
}

.second-column .input-group label ion-icon {
  color: gray !important;
}

.footer-span {
  font-size: 1.2rem;
  font-weight: 700;
}

/* MEDIA QUERIES */

/* Phone Port */
@media only screen and (min-width: 320px) {
  html {
    font-size: 70%;
  }

  .info-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .form-control {
    padding: 1.5em;
    height: 1.5rem;
  }

  .date-wrapper {
    flex-direction: column;
  }

  .date-wrapper div {
    margin: 0;
  }
}

/* Phone Land */
@media only screen and (min-width: 576px) {
  .info-form {
    flex-direction: row;
    justify-content: space-around;
  }

  .date-wrapper {
    flex-direction: initial;
  }

  .date-wrapper div {
    margin: initial;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }

  .info-form {
    align-items: initial;
  }
}
