@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

header {
  margin-bottom: 5em;
}

.title {
  font-weight: 600;
  color: #428bca;
}

main {
  padding: 2em;
  padding-bottom: 10em;
}

ion-icon {
  margin: 0.3em;
  font-size: 1.5rem;
}

ion-icon:hover {
  cursor: pointer;
}

button {
  width: 5em;
}

.input-group {
  width: 20em;
  height: 3em;
  margin-bottom: 0.8em;
}

.footer-span {
  font-size: 1.2rem;
  font-weight: 700;
}

/* MEDIA QUERIES */

/* Phone Port */
@media only screen and (min-width: 320px) {
  html {
    font-size: 30%;
  }

  .info-form {
    justify-content: center;
  }

  .form-control {
    padding: 1.5em;
    height: 1.5em;
  }
}

/* Phone Land */
@media only screen and (min-width: 576px) {
  html {
    font-size: 60%;
  }

  .info-form {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  html {
    font-size: 90%;
  }
}
